#accept-nvidia-visible-devices-as-volume-mounts = false
#accept-nvidia-visible-devices-envvar-when-unprivileged = true
disable-require = true
supported-driver-capabilities = "compat32,compute,display,graphics,ngx,utility,video"
#swarm-resource = "DOCKER_RESOURCE_GPU"

[nvidia-container-cli]
no-pivot = true
debug = "/var/log/nvidia-kata-container/nvidia-container-toolkit.log"
environment = []
ldcache = "/tmp/ld.so.cache"
ldconfig = "@@glibcbin@/bin/ldconfig"
load-kmods = true
no-cgroups = true
path = "@nvidia-container-cli@"
#root = "/run/nvidia/driver"
#user = "root:video"

[nvidia-container-runtime]
debug = "/var/log/nvidia-kata-container/nvidia-container-runtime.log"
log-level = "debug"
mode = "auto"
runtimes = ["docker-runc", "runc", "crun"]

[nvidia-container-runtime.modes]

[nvidia-container-runtime.modes.cdi]
annotation-prefixes = ["cdi.k8s.io/"]
default-kind = "nvidia.com/gpu"
spec-dirs = ["/etc/cdi", "/var/run/cdi"]

[nvidia-container-runtime.modes.csv]
mount-spec-path = "/etc/nvidia-container-runtime/host-files-for-container.d"

[nvidia-container-runtime-hook]
path = "@nvidia-container-runtime-hook@"
skip-mode-detection = false

[nvidia-ctk]
path = "@nvidia-ctk@"
