tools/genpolicy.cache/*
!tools/genpolicy.cache/.gitkeep
*.bin
edgcoco
result*
layers_cache
layers-cache.json
mesh-root.pem
coordinator-root.pem
workload-owner.pem
justfile.env
workspace
workspace.cache
.direnv/
go.work.sum
