tools/genpolicy.cache/*
!tools/genpolicy.cache/.gitkeep
*.bin
edgcoco
result*
layers_cache
layers-cache.json
justfile.env
workspace
workspace.cache
.direnv/
go.work.sum
node_modules
.docusaurus
build/
.worktree
.terraform*
!.terraform.lock.hcl
*.tfvars
terraform.tfstate*
id_rsa*
kube.conf
out.env
infra/**/kustomization.yaml
uplosi.conf*
.custom/
.tmp*
