go 1.25.5

use (
	// keep-sorted start
	.
	./imagepuller
	./imagestore
	./initdata-processor
	./service-mesh
	./tools/ci-watch
	./tools/debugshell
	./tools/igvm
	./tools/imagepuller-benchmark
	./tools/snp-id-block-generator
	./tools/tdx-measure
// keep-sorted end
)
