go 1.25.6

use (
	// keep-sorted start
	.
	./imagepuller
	./imagestore
	./initdata-processor
	./service-mesh
	./tools/debugshell
	./tools/imagepuller-benchmark
	./tools/kernelconfig
	./tools/tdx-measure
// keep-sorted end
)
