{{ template "base" . }}

[plugins.'io.containerd.grpc.v1.cri'.containerd.runtimes.contrast-cc-0-0-0-dev-k3s-qemu-tdx]
runtime_type = 'io.containerd.contrast-cc.v2'
runtime_path = '/opt/edgeless/contrast-cc-0-0-0-dev-k3s-qemu-tdx/bin/containerd-shim-contrast-cc-v2'
pod_annotations = ['io.katacontainers.*']
privileged_without_host_devices = true

[plugins.'io.containerd.grpc.v1.cri'.containerd.runtimes.contrast-cc-0-0-0-dev-k3s-qemu-tdx.options]
ConfigPath = '/opt/edgeless/contrast-cc-0-0-0-dev-k3s-qemu-tdx/etc/configuration-qemu-tdx.toml'
