{{ template "base" . }}

[plugins.'io.containerd.grpc.v1.cri'.containerd.runtimes.RUNTIMEHANDLER]
runtime_type = 'io.containerd.contrast-cc.v2'
runtime_path = '/opt/edgeless/RUNTIMEHANDLER/bin/containerd-shim-contrast-cc-v2'
pod_annotations = ['io.katacontainers.*']
privileged_without_host_devices = true

[plugins.'io.containerd.grpc.v1.cri'.containerd.runtimes.RUNTIMEHANDLER.options]
ConfigPath = '/opt/edgeless/RUNTIMEHANDLER/etc/configuration-qemu-snp.toml'
