{{ template "base" . }}

[plugins.'io.containerd.grpc.v1.cri'.containerd.runtimes.my-runtime]
runtime_type = 'io.containerd.contrast-cc.v2'
runtime_path = '/opt/edgeless/my-runtime/bin/containerd-shim-contrast-cc-v2'
pod_annotations = ['io.katacontainers.*']
privileged_without_host_devices = true
snapshotter = 'nydus-my-runtime'

[plugins.'io.containerd.grpc.v1.cri'.containerd.runtimes.my-runtime.options]
ConfigPath = '/opt/edgeless/my-runtime/etc/configuration-qemu-snp.toml'

[proxy_plugins.nydus-my-runtime]
type = 'snapshot'
address = '/run/containerd/containerd-nydus-grpc-my-runtime.sock'
