name: backport pr

on:
  pull_request:
    types: [closed]
  issue_comment:
    types: [created]

jobs:
  backport:
    if: |
      (
        github.event_name == 'pull_request' &&
        github.event.pull_request.merged
      ) || (
        github.event_name == 'issue_comment' &&
        github.event.issue.pull_request &&
        startsWith(github.event.comment.body, '/backport')
      )
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ secrets.NUNKI_CI_COMMIT_PUSH_PR }}
          persist-credentials: true
      - name: Create backport PRs
        uses: korthout/backport-action@c656f5d5851037b2b38fb5db2691a03fa229e3b2 # v4.0.1
        with:
          copy_milestone: true
          copy_labels_pattern: '.*'
          add_author_as_assignee: true
          pull_title: '[${target_branch}] ${pull_title}'
          github_token: ${{ secrets.NUNKI_CI_COMMIT_PUSH_PR }}
          pull_description: |
            Backport of #${pull_number} to `${target_branch}`.

            Original description:

            ---

            ${pull_description}
