name: check patches

on:
  workflow_dispatch:
  pull_request:
    paths:
      - .github/workflows/check_patches.yml
      - packages/by-name/kata/kata-runtime/package.nix
      - packages/by-name/kata/kata-runtime/0*.patch

jobs:
  nix-build:
    uses: ./.github/workflows/nix_build.yml
    secrets:
      GITHUB_TOKEN_IN: ${{ secrets.GITHUB_TOKEN_IN }}
      CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}

  check-patches:
    runs-on: ubuntu-24.04
    needs: nix-build
    timeout-minutes: 15
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          path: contrast
          persist-credentials: false
      - uses: ./contrast/.github/actions/setup_nix
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          cachixToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - id: kataversion
        working-directory: contrast
        run: |
          echo "v=$(nix eval --raw .#kata.runtime.version)" >> "$GITHUB_OUTPUT"
      - name: Check out Kata
        env:
          KATA_VERSION: ${{ steps.kataversion.outputs.v }}
        run: |
          git clone --depth 1 -b "${KATA_VERSION}" https://github.com/kata-containers/kata-containers.git kata
      - name: Apply patches
        working-directory: kata
        env:
          KATA_VERSION: ${{ steps.kataversion.outputs.v }}
        run: |
          git config --global user.email "actionsbot@example.invalid"
          git config --global user.name "Actions Bot"
          git am --no-3way ../contrast/packages/by-name/kata/runtime/0*.patch
          git format-patch -N --no-signature --zero-commit --full-index -o ../contrast/packages/by-name/kata/runtime/ "${KATA_VERSION}"
      - name: Check for diff
        working-directory: contrast
        run: |
          git diff --exit-code
