name: publish docs to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - docs/**
      - "!docs/README.md"
      - .github/workflows/docs_publish.yml
      - packages/by-name/contrast/docs/**
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths:
      - docs/**
      - "!docs/README.md"
      - .github/workflows/docs_publish.yml
      - packages/by-name/contrast/docs/**

permissions:
  contents: write
  pull-requests: write

jobs:
  deploy:
    name: Publish docs to GitHub Pages
    runs-on: ubuntu-24.04
    # Prevent the job from running on forked PRs, for security reasons.
    if: |
      (github.event_name == 'push' && github.ref_name == 'main') ||
      (github.repository_owner == github.event.pull_request.head.repo.owner.login)
    env:
      PREVIEW: ${{ !(github.event_name == 'push' && github.ref_name == 'main') }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup_nix
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          cachixToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build production website
        if: env.PREVIEW == 'false'
        run: |
          nix build -L .#base.docs
      - name: Publish docs to GitHub Pages
        if: env.PREVIEW == 'false'
        uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
        with:
          folder: ./result
          branch: gh-pages
          clean-exclude: pr-preview
          force: false

      - name: Build preview website
        if: env.PREVIEW == 'true'
        run: |
          nix build -L --impure --expr "(builtins.getFlake \"git+file://$(pwd)?shallow=1\").outputs.legacyPackages.x86_64-linux.contrast.base.docs.override { docusaurusBaseUrl = \"contrast/pr-preview/pr-${{ github.event.number }}\"; }"
      - name: Deploy preview
        if: env.PREVIEW == 'true'
        uses: rossjrw/pr-preview-action@5fd5f8e2f88e735fc3d1151302b32242037e3962 # v1.8.0
        with:
          source-dir: ./result
