name: publish docs to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - docs/**
      - "!docs/README.md"
      - .github/workflows/docs_publish.yml
      - packages/by-name/contrast/docs/**
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths:
      - docs/**
      - "!docs/README.md"
      - .github/workflows/docs_publish.yml
      - packages/by-name/contrast/docs/**

permissions:
  contents: write
  pull-requests: write

jobs:
  deploy:
    name: Publish docs to GitHub Pages
    runs-on: ubuntu-24.04
    # Prevent the job from running on forked PRs, for security reasons.
    if: |
      (github.event_name == 'push' && github.ref_name == 'main') ||
      (github.repository_owner == github.event.pull_request.head.repo.owner.login)
    env:
      PREVIEW: ${{ !(github.event_name == 'push' && github.ref_name == 'main') }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup_nix
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          cachixToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build production website
        if: env.PREVIEW == 'false'
        run: |
          nix build -L .#contrast.docs
      - name: Publish docs to GitHub Pages
        if: env.PREVIEW == 'false'
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4.7.4
        with:
          folder: ./result
          branch: gh-pages
          clean-exclude: pr-preview
          force: false

      - name: Build preview website
        if: env.PREVIEW == 'true'
        run: |
          nix build -L --impure --expr "(builtins.getFlake \"git+file://$(pwd)?shallow=1\").outputs.legacyPackages.x86_64-linux.contrast.docs.override { docusaurusBaseUrl = \"contrast/pr-preview/pr-${{ github.event.number }}\"; }"
          # Avoid warnings due to root-owned files.
          # https://github.com/JamesIves/github-pages-deploy-action/issues/1906
          # https://github.com/rossjrw/pr-preview-action/pull/119
          rm -rf /tmp/docs
          cp --no-preserve=mode --recursive "$(readlink -f ./result)" /tmp/docs
      - name: Deploy preview
        if: env.PREVIEW == 'true'
        uses: rossjrw/pr-preview-action@8ff09e486b4c23709012eedd3b42e9f0b95dd0c5 # v1.6.3
        with:
          source-dir: /tmp/docs
