name: publish docs to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - docs/**
      - "!docs/README.md"
      - .github/workflows/docs_publish.yml
      - packages/contrast-docs/**
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths:
      - docs/**
      - "!docs/README.md"
      - .github/workflows/docs_publish.yml
      - packages/contrast-docs/**

permissions:
  contents: write
  pull-requests: write

jobs:
  deploy:
    name: Publish docs to GitHub Pages
    runs-on: ubuntu-22.04
    env:
      PREVIEW: ${{ !(github.event_name == 'push' && github.ref_name == 'main') }}
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: ./.github/actions/setup_nix
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          cachixToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build production website
        if: env.PREVIEW == 'false'
        run: |
          nix build -L .#contrast-docs
      - name: Publish docs to GitHub Pages
        if: env.PREVIEW == 'false'
        uses: JamesIves/github-pages-deploy-action@5c6e9e9f3672ce8fd37b9856193d2a537941e66c # v4.6.1
        with:
          folder: ./result
          branch: gh-pages
          clean-exclude: pr-preview
          force: false

      - name: Build preview website
        if: env.PREVIEW == 'true'
        run: |
          nix build -L --impure --expr "(builtins.getFlake \"git+file://$(pwd)?shallow=1\").outputs.legacyPackages.x86_64-linux.contrast-docs.override { docusaurusBaseUrl = \"contrast/pr-preview/pr-${{ github.event.number }}\"; }"
      - name: Deploy preview
        if: env.PREVIEW == 'true' && !github.event.pull_request.head.repo.fork
        uses: rossjrw/pr-preview-action@f31d5aa7b364955ea86228b9dcd346dc3f29c408 # v1
        with:
          source-dir: ./result
