name: e2e test

on:
  workflow_call:
    inputs:
      skip-undeploy:
        description: "Skip undeploy"
        type: boolean
      test-name:
        description: "Test Name"
        type: string
      platform:
        description: "Platform"
        type: string
      runner:
        description: "Runner"
        type: string
      self-hosted:
        description: "Self Hosted"
        type: boolean
    secrets:
      GITHUB_TOKEN_IN:
        required: true
      CACHIX_AUTH_TOKEN:
        required: true
      NUNKI_CI_COMMIT_PUSH_PR:
        required: true
      CONTRAST_CI_INFRA_AZURE:
        required: true
      TEAMS_CI_WEBHOOK:
        required: true

env:
  container_registry: ghcr.io/edgelesssys
  azure_resource_group: contrast-ci
  DO_NOT_TRACK: 1

jobs:
  test:
    name: "${{ inputs.test-name }}"
    runs-on: ${{ inputs.runner }}
    permissions:
      contents: read
      packages: write
    env:
      PLATFORM: ${{ inputs.platform }}
      NODE_INSTALLER_TARGET_CONF_TYPE: 'k3s'
      TEST_NAME: ${{ inputs.test-name }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup_nix
        if: (!inputs.self-hosted)
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN_IN || secrets.GITHUB_TOKEN }}
          cachixToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - uses: nicknovitski/nix-develop@9be7cfb4b10451d3390a75dc18ad0465bed4932a # v1.2.1
      - name: Log in to ghcr.io Container registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN_IN || secrets.GITHUB_TOKEN }}
      - name: Login to Azure
        if: (!inputs.self-hosted)
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          creds: ${{ secrets.CONTRAST_CI_INFRA_AZURE }}
      - name: Create justfile.env
        run: |
          cat <<EOF > justfile.env
          container_registry=${{ env.container_registry }}
          azure_resource_group=${{ env.azure_resource_group }}
          default_platform=${PLATFORM}
          EOF
      - name: Build and push container images
        run: |
          just coordinator initializer port-forwarder openssl service-mesh-proxy node-installer "${PLATFORM}"
      - name: Get credentials for CI cluster
        if: (!inputs.self-hosted)
        run: |
          just get-credentials
      - name: Set sync environment
        if: (!inputs.self-hosted || inputs.platform == 'Metal-QEMU-SNP-GPU')
        run: |
          sync_ip=$(kubectl get svc sync -o jsonpath='{.status.loadBalancer.ingress[0].ip}')
          echo "SYNC_ENDPOINT=http://$sync_ip:8080" | tee -a "$GITHUB_ENV"
          sync_uuid=$(kubectl get configmap sync-server-fifo -o jsonpath='{.data.uuid}')
          echo "SYNC_FIFO_UUID=$sync_uuid" | tee -a "$GITHUB_ENV"
      - name: E2E Test
        run: |
          nix build .#scripts.get-logs
          nix run .#scripts.get-logs start workspace/e2e.namespace &
          nix shell -L .#contrast.e2e --command "${TEST_NAME}.test" -test.v \
            --image-replacements workspace/just.containerlookup \
            --namespace-file workspace/e2e.namespace \
            --platform "${PLATFORM}" \
            --node-installer-target-conf-type "${NODE_INSTALLER_TARGET_CONF_TYPE}" \
            --namespace-suffix="-ci"
      - name: Download logs
        if: always()
        run: |
          nix run .#scripts.get-logs download workspace/e2e.namespace
      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: e2e_pod_logs-${{ inputs.platform }}-${{ inputs.test-name }}
          path: workspace/logs/export-no-stream/logs
      - name: Notify teams channel of failure
        if: failure() && github.event_name == 'schedule' && github.run_attempt == 1
        uses: ./.github/actions/post_to_teams
        with:
          webhook: ${{ secrets.TEAMS_CI_WEBHOOK }}
          title: "${{ inputs.test-name }} failed"
          message: "e2e test ${{ inputs.test-name }} failed"
          additionalFields: '[{"title": "Platform", "value": "${{ inputs.platform }}"},{"title": "Job ID", "value": "${{ github.job }}"}]'
      - name: Cleanup
        if: always() && !inputs.skip-undeploy
        run: |
          # Check if namespace file exists and is not empty
          if [[ ! -f workspace/e2e.namespace ]]; then
            echo "No namespace file found, skipping cleanup." >&2
            exit 0
          fi

          kubectl delete ns "$(cat workspace/e2e.namespace)" --timeout 10m
