name: e2e test manual

on:
  workflow_dispatch:
    inputs:
      test-name:
        description: "Test Name"
        required: true
        type: choice
        options:
          # keep-sorted start
          - atls
          - containerd-11644-reproducer
          - genpolicy-unsupported
          - gpu
          - imagepuller-auth
          - imagestore
          - memdump
          - multiple-cpus
          - openssl
          - peerrecovery
          - policy
          - proxy
          - regression
          - servicemesh
          - vault
          - volumestatefulset
          - workloadsecret
          # keep-sorted end
        default: "openssl"
      platform:
        description: "Platform"
        required: true
        type: choice
        options:
          - Metal-QEMU-SNP
          - Metal-QEMU-SNP-GPU
          - Metal-QEMU-TDX
          - Metal-QEMU-TDX-GPU
      skip-undeploy:
        description: "Skip undeploy"
        required: false
        type: boolean
        default: false
      debug-shell:
        description: "Debug shell"
        required: false
        type: boolean
        default: false

jobs:
  determine-platform-params:
    runs-on: ubuntu-24.04
    outputs:
      runner: ${{ steps.determine-platform-params.outputs.runner }}
      self-hosted: ${{ steps.determine-platform-params.outputs.self-hosted }}
    env:
      platform: ${{ inputs.platform }}
    permissions: {}
    steps:
      - name: Determine Platform Parameters
        id: determine-platform-params
        run: |
          case "${platform}" in
            "Metal-QEMU-SNP")
              echo "runner=SNP" >> "$GITHUB_OUTPUT"
              echo "self-hosted=true" >> "$GITHUB_OUTPUT"
            ;;
            "Metal-QEMU-SNP-GPU")
              echo "runner=SNP-GPU" >> "$GITHUB_OUTPUT"
              echo "self-hosted=true" >> "$GITHUB_OUTPUT"
            ;;
            "Metal-QEMU-TDX")
              echo "runner=TDX" >> "$GITHUB_OUTPUT"
              echo "self-hosted=true" >> "$GITHUB_OUTPUT"
            ;;
            "Metal-QEMU-TDX-GPU")
              echo "runner=TDX-GPU" >> "$GITHUB_OUTPUT"
              echo "self-hosted=true" >> "$GITHUB_OUTPUT"
            ;;
            *)
              echo "Unsupported platform: ${platform}"
              exit 1
            ;;
          esac

  test:
    name: "${{ inputs.platform }}"
    needs: [determine-platform-params]
    uses: ./.github/workflows/e2e.yml
    with:
      skip-undeploy: ${{ inputs.skip-undeploy }}
      test-name: ${{ inputs.test-name }}
      platform: ${{ inputs.platform }}
      runner: ${{ needs.determine-platform-params.outputs.runner }}
      self-hosted: ${{ fromJSON(needs.determine-platform-params.outputs.self-hosted) }}
      debug-shell: ${{ inputs.debug-shell }}
    secrets:
      GITHUB_TOKEN_IN: ${{ secrets.GITHUB_TOKEN }}
      CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
      NUNKI_CI_COMMIT_PUSH_PR: ${{ secrets.NUNKI_CI_COMMIT_PUSH_PR }}
      TEAMS_CI_WEBHOOK: ${{ secrets.TEAMS_CI_WEBHOOK }}
      CONTRAST_GHCR_READ: ${{ secrets.CONTRAST_GHCR_READ }}
    permissions:
      contents: read
      packages: write
