name: e2e test PR

on:
  pull_request:
    paths:
      - "**"
      - "!.github/**"
      - ".github/actions/setup_nix.yml"
      - ".github/workflows/e2e.yml"
      - ".github/workflows/e2e_on_pull_request.yml"
      - "!dev-docs/**"
      - "!docs/**"
      - "!rfc/**"
      - "!tools/vale/**"
  workflow_dispatch:

# Cancel old runs of this workflow for this pull request if new commits are pushed.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_matrix:
    strategy:
      matrix:
        include:
          - platform: Metal-QEMU-SNP
            runner: SNP
            self-hosted: true
            test: openssl
          - platform: Metal-QEMU-SNP-GPU
            runner: SNP-GPU
            self-hosted: true
            test: gpu
          - platform: Metal-QEMU-TDX
            runner: TDX
            self-hosted: true
            test: openssl
      fail-fast: false
    name: "${{ matrix.platform }}"
    uses: ./.github/workflows/e2e.yml
    with:
      skip-undeploy: false
      test-name: ${{ matrix.test }}
      platform: ${{ matrix.platform }}
      runner: ${{ matrix.runner }}
      self-hosted: ${{ matrix.self-hosted }}
      debug-shell: true
    secrets:
      GITHUB_TOKEN_IN: ${{ secrets.GITHUB_TOKEN }}
      CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
      NUNKI_CI_COMMIT_PUSH_PR: ${{ secrets.NUNKI_CI_COMMIT_PUSH_PR }}
      TEAMS_CI_WEBHOOK: ${{ secrets.TEAMS_CI_WEBHOOK }}
      CONTRAST_GHCR_READ: ${{ secrets.CONTRAST_GHCR_READ }}
    permissions:
      contents: read
      packages: write
