name: e2e test regression

on:
  schedule:
    - cron: "16 6 * * 6" # 6:16 on Saturdays
  pull_request:
    paths:
      - .github/workflows/e2e_regression.yml
      - e2e/getdents/**
      - e2e/genpolicy/**
      - e2e/regression/**

jobs:
  regression-test:
    strategy:
      matrix:
        enterprise: [false, true]
        platform:
          - name: AKS-CLH-SNP
            runner: ubuntu-22.04
            self-hosted: false
          - name: K3s-QEMU-SNP
            runner: SNP
            self-hosted: true
          - name: K3s-QEMU-TDX
            runner: TDX
            self-hosted: true
        test-name: [getdents, genpolicy, regression]
        exclude:
          # getdents is a regression test for tardev-snapshotter
          - platform:
              self-hosted: true
            test-name: getdents
          # genpolicy is (currently) a regression test for tardev-snapshotter
          - platform:
              self-hosted: true
            test-name: genpolicy
      fail-fast: false
    name: "${{ matrix.enterprise && 'enterprise ' || '' }}${{ matrix.platform.name }}"
    uses: ./.github/workflows/e2e.yml
    with:
      skip-undeploy: false
      test-name: ${{ matrix.test-name }}
      enterprise: ${{ matrix.enterprise }}
      platform: ${{ matrix.platform.name }}
      runner: ${{ matrix.platform.runner }}
      self-hosted: ${{ matrix.platform.self-hosted }}
    secrets: inherit
    permissions:
      contents: read
      packages: write
