name: e2e test nightly

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      GITHUB_TOKEN_IN:
        required: true
      CACHIX_AUTH_TOKEN:
        required: true
      NUNKI_CI_COMMIT_PUSH_PR:
        required: true
      TEAMS_CI_WEBHOOK:
        required: true
      CONTRAST_GHCR_READ:
        required: true
  schedule:
    - cron: "30 0 * * *" # 0:30 a.m. every day

jobs:
  test_matrix:
    strategy:
      matrix:
        platform:
          - name: Metal-QEMU-SNP
            runner: SNP
            self-hosted: true
          - name: Metal-QEMU-TDX
            runner: TDX
            self-hosted: true
          - name: Metal-QEMU-SNP-GPU
            runner: SNP-GPU
            self-hosted: true
        test-name:
          # keep-sorted start
          - atls
          - genpolicy-unsupported
          - imagepuller-auth
          - imagestore
          - memdump
          - openssl
          - peerrecovery
          - policy
          - proxy
          - regression
          - servicemesh
          - vault
          - volumestatefulset
          - workloadsecret
          # keep-sorted end
        include:
          - platform:
              name: Metal-QEMU-SNP-GPU
              runner: SNP-GPU
              self-hosted: true
            test-name: gpu
      fail-fast: false
    name: "${{ matrix.platform.name }}"
    uses: ./.github/workflows/e2e.yml
    with:
      skip-undeploy: false
      test-name: ${{ matrix.test-name }}
      platform: ${{ matrix.platform.name }}
      runner: ${{ matrix.platform.runner }}
      self-hosted: ${{ matrix.platform.self-hosted }}
    secrets:
      GITHUB_TOKEN_IN: ${{ secrets.GITHUB_TOKEN_IN || secrets.GITHUB_TOKEN }}
      CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
      NUNKI_CI_COMMIT_PUSH_PR: ${{ secrets.NUNKI_CI_COMMIT_PUSH_PR }}
      TEAMS_CI_WEBHOOK: ${{ secrets.TEAMS_CI_WEBHOOK }}
      CONTRAST_GHCR_READ: ${{ secrets.CONTRAST_GHCR_READ }}
    permissions:
      contents: read
      packages: write
