name: imagepuller benchmark

on:
  workflow_dispatch:
  pull_request:
    paths:
      - imagepuller/**
      - tools/imagepuller-benchmark/**
      - packages/by-name/imagepuller*/**
  push:
    branches:
      - main

jobs:
  run-benchmark:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: read
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup_nix
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          cachixToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Log in to ghcr.io Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: create imagepuller configuration
        run: |
          auth=$(jq -r '.auths["ghcr.io"].auth' < ~/.docker/config.json)
          cat > imagepuller.toml <<EOF
          [registries."ghcr.io."]
          auth = "$auth"
          EOF
      - name: Run imagepuller-benchmark script
        run: |
          imagpullerbenchmark="$(nix build .#imagepuller-benchmark --print-out-paths)/bin/imagepuller-benchmark"
          imagepuller="$(nix build .#imagepuller --print-out-paths)/bin/imagepuller"
          sudo "$imagpullerbenchmark" \
            "$imagepuller" \
            ./tools/imagepuller-benchmark/benchmark.json \
            -a imagepuller.toml
