name: publish release

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      tag:
        description: "Semantic version tag of the release (vX.Y.Z)."
        required: true
      latest:
        description: "Whether to update the latest tag."
        type: boolean
        default: false

jobs:
  complete-release-branch-transaction:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    env:
      FULL_VERSION: ${{ github.event.release.tag_name }}${{ github.event.inputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # fetch all history
          token: ${{ secrets.NUNKI_CI_COMMIT_PUSH_PR }}
          persist-credentials: true
      - name: Determine branch names
        run: |
          RELEASE_BRANCH="release/${FULL_VERSION%.*}"
          WORKING_BRANCH="tmp/${FULL_VERSION}"
          {
            echo "RELEASE_BRANCH=${RELEASE_BRANCH}"
            echo "WORKING_BRANCH=${WORKING_BRANCH}"
          } | tee -a "$GITHUB_ENV"
      - name: Create or update release branch
        run: |
          git fetch
          git checkout "${WORKING_BRANCH}" # ensure branch exists locally
          git push origin "${WORKING_BRANCH}":"${RELEASE_BRANCH}"
      - name: Remove temporary branch
        run: |
          git push origin --delete "${WORKING_BRANCH}"

  cleanup-bucket:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - name: AWS login (IAM role)
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::795746500882:role/ContrastPublicBucketRW
          aws-region: eu-central-1
      - name: Delete pre-release artifacts from S3 bucket contrast-public
        env:
          VERSION: ${{ github.event.release.tag_name }}${{ github.event.inputs.tag }}
        run: |
          aws s3 rm --recursive "s3://contrast-public/pre-releases/${VERSION}/"
