name: require label

on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]

jobs:
  label:
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: read
    steps:
      - uses: mheap/github-action-required-labels@8afbe8ae6ab7647d0c9f0cfa7c2f939650d22509 # v5.5.1
        with:
          mode: exactly
          count: 1
          labels: |
            breaking change
            bug fix
            changelog
            dependencies
            feature
            documentation
            no changelog
  do-not-merge:
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: read
    steps:
      - name: prevent merge by label
        if: contains(github.event.pull_request.labels.*.name, 'do not merge')
        run: |
          echo '::error::This PR is labeled as "do not merge", remove the label to make this check pass.'
          exit 1
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 20
          persist-credentials: false
      - name: prevent merge by commit message
        env:
          BASE_SHA: ${{ github.event.pull_request.base.sha }}
          HEAD_SHA: ${{ github.event.pull_request.head.sha }}
        run: |
          if ! git log --pretty=format:"%s" "${BASE_SHA}..${HEAD_SHA}" | grep -iE "^[[]?(dnm|do not merge|draft|no ci|temp|fixup!|squash!)"; then
            exit 0
          fi
          echo '::error::This PR contains commits that should not be merged, see above.'
          exit 1
