name: update nvidia rim ids

on:
  workflow_dispatch:
  schedule:
    - cron: "0 18 * * 0"

jobs:
  update-rim-ids:
    name: update NVIDIA RIM IDs
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ !github.event.pull_request.head.repo.fork && github.head_ref || '' }}
          token: ${{ !github.event.pull_request.head.repo.fork && secrets.NUNKI_CI_COMMIT_PUSH_PR || github.token }}
          persist-credentials: true
      - uses: ./.github/actions/setup_nix
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          cachixToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Update RIM IDs
        run: |
          nix run .#scripts.get-nvidia-rim-ids > dev-docs/nvidia/rim-ids.json
      - name: Create PR
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          title: "dev-docs: update NVIDIA RIM IDs"
          body: "Automated updated created by [rim_updates workflow](https://github.com/edgelesssys/contrast/blob/main/.github/workflows/rim_updates.yml)."
          commit-message: "dev-docs: update NVIDIA RIM IDs"
          base: main
          draft: false
          labels: "no changelog"
          branch: automated/nvidia-rim-updates
          committer: edgelessci <edgelessci@users.noreply.github.com>
          author: edgelessci <edgelessci@users.noreply.github.com>
          token: ${{ secrets.NUNKI_CI_COMMIT_PUSH_PR }}
      - name: Notify teams channel of failure
        if: failure() && github.ref == 'main' && github.run_attempt == 1
        uses: ./.github/actions/post_to_teams
        with:
          webhook: ${{ secrets.TEAMS_CI_WEBHOOK }}
          title: "Failed to update NVIDIA RIM IDs"
          message: ""
          additionalFields: '[{"title": "Job ID", "value": "${{ github.job }}"}]'
